@use "../../../scss//" as *;

.news-card {
  background-color: $bg-primary-color;
  height: 100%;
  padding-bottom: 1.8rem;
  border-radius: 10px;

  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  div {
    padding-top: 1.8rem;
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    overflow: hidden;

    a:hover {
      text-decoration: underline;
    }

    h5 {
      letter-spacing: -0.05rem;
      color: $txt-color;
      font-weight: 700;
      font-size: 1.33rem;
      margin-bottom: 0.5rem;
      line-height: 1.2;
    }
  }

  &__author {
    color: #949494;
    font-size: 1rem;
    line-height: 1.45;
    margin-bottom: 1rem;
    font-family: $secondary-font;
  }

  &__excerpt {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #6a6a6a;
    line-height: 1.45;
    font-size: 1rem;
    font-family: $secondary-font;
  }
}
