@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-left {
  animation: fadeInLeft 1500ms ease-in-out forwards;
}

.fade-in-right {
  animation: fadeInRight 1000ms ease forwards;
}

.fade-in-bottom {
  animation: fadeInBottom 1000ms ease-in-out forwards;
}

@keyframes scaleAnimation {
  from {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

.scale-animation {
  animation: scaleAnimation 1000ms ease forwards;
}
