// Colors
$primary-color: rgba(42, 56, 85, 1);
$secondary-color: rgba(253, 212, 40, 1);
$txt-color: rgba(42, 56, 85, 1);
$bg-primary-color: #fff;
$footer-bg-primary-color: rgba(61, 76, 111, 1);

$primary-font: "Montserrat", sans-serif;
$secondary-font: "Open Sans", sans-serif;
